.custom-nav{
    background-color: #182334;
    color: #ffffff;
}

.custom-nav a{
    /* background-color: #182334; */
    color: #ffffff;
}

.custom-nav button{
    /* background-color: #182334; */
    color: #ffffff;
}